body{
    margin: 0;
    padding: 0;
    background: #e55039;
}

.container{
    position: absolute;
    width: 200px;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.container .loader{
    position: absolute;
    border-left: 4px solid;
    border-right: 4px solid;
    border-top: 4px solid transparent !important;
    border-bottom: 4px solid transparent !important;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: rotate 2s infinite;
}

.container .a1{
    border-color: #4a69bd;
    width: 120px;
    height: 120px;
}

.container .a2{
    border-color: #34495e;
    width: 100px;
    height: 100px;
    animation-delay: 0.2s;
}

.container .a3{
    border-color: #f6b93b;
    width: 80px;
    height: 80px;
    animation-delay: 0.4s;

}

.container .a4{
    border-color: #2ecc71;
    width: 60px;
    height: 60px;
    animation-delay: 0.6s;

}

@keyframes rotate{
    0%{
        transform: translate(-50%, -50%) rotate(0deg);
    }
    50%{
        transform: translate(-50%, -50%) rotate(-180deg);
    }
    100%{
        transform: translate(-50%, -50%) rotate(0deg);
    }
}